<div class="container">
<h1>List</h1>

<%@lists.each do |list|%>
<ul class = 'list-unstyled'>
<li><%=link_to list.name, list_path(list), class: 'text-decoration-none'%></li>
</ul>
<% end %>
<div>
<%=link_to "New List", new_list_path%>
</div>
</div>
